// =============================================================================
// RepoListItem
// =============================================================================

.repo-list-item {

	.repo-name {
		font-family: 'OpenSans-Bold';
		color: #5B5B43;
	}

	.repo-badge-list {
		display: inline;
		float: right;
	}
	
}