// =============================================================================
// RepoListItem
// =============================================================================

.repo-badge {
	margin: 5px;
	background: #F9F9F9;
	color: #88A959;
}

.repo-badge-text {
	margin-left: 5px;
}

.repo-page > .well {
	background-color: #F3F3ED;
}