// =============================================================================
// RepoPage
// =============================================================================

.repo-page {

	.well {
		background-color: #F3F3ED;
	}
	
}

.repo-page-loading {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}